*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}

/* navbar start here */
.navbar{
    height: 80px;
    border-bottom: 1px solid #313131;
}
.nav-link {
    color: white;
}
.btn{
    width: 139px;
    height: 36px;
    color: black;

}


/* navbar end here */


 /* hero section tart here */
.carousel-inner{
    margin-left: -12px;
}
.secbtn{
    width: 244px;
    height: 61px;
}
.secbtn:hover{
    background-color: #fcaf17;
    color: black !important;
    border: none;
}

 /* hero section end here */

 /* section two start here */
 .cardsec{
    border:1px solid  #313131;
    width: 22rem !important;
    height: 40rem;
    background-color: black;
 }
 .card-body{
    background-color: black;
    color: white;
   
     
 }
 /* section two end here */

 /* section three starts here */

 .img-fluid{
    border-radius: 12px;
 }
 .cardthre{
    border: none;
    width: 15.5rem !important;
    /* height: 15.2rem !important; */
 }


 /* footer */

 #footer-start{
    height: 669px;
 }
 /* ul{
    list-style: none;
 }
 ul>li>a{
    text-decoration: none;
    color:#908b8b;
    padding: 0px 15px;
 }
 .left>ul>li{
    padding-bottom: 20px;
 } */


 body{
     background-color: black;
     color: white;
 }
 a{
     color: white;
     text-decoration: none;
   
 }
 #list-footer{
    color:#908b8b;
    margin-top: 356px

 }
 #footer-2 ul{
     list-style: none;
     
 }
 #footer-2 ul li a{
     text-decoration: none;
     
 }



 /* ----------------------------------------------- */
 .last-container{
     font-size:  0.9375rem;
font-weight: 700;
 }

 @media (max-width:768px) {
     #footer-3{
        display: flex;
        justify-content: center;
        font-size:  0.8rem;
     }
     #footer-2{
         font-size:  0.8rem;
     }
     #footer-flex{
         display: flex;
         flex-direction: column;
      
     }
  
 }
 @media (max-width:1199px) {
     #footer1-btn{
         margin-left: 2px !important;
     }
     
 }
 #footer-1{
 font-size: 1.25rem;

 }
 .right span{
     font-size:  0.9375rem;
 }
 #footer1-btn{
     background-color: black;
     font-size:  0.9375rem;
color: white;
border: none;
margin-left: 52px;
 }

